
<div class="container">
  <mat-card class=" mx-auto d-block text-center">
    <mat-card-title>Change Password</mat-card-title>
  <mat-card-content>
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
      <mat-form-field>
        <input type="password" matInput placeholder="old password" name="oldpwd" [(ngModel)]="user.oldpassword">
      </mat-form-field>
    </div>
    </div>
  <div class="row">
    <div class="col">
    <mat-form-field>
      <input type="password" matInput placeholder="new password" name="newpwd" [(ngModel)]="user.password">
    </mat-form-field>
  </div>
  </div>

  <div class="row">
    <div class="col">
    <mat-form-field>
      <input type="password" matInput placeholder="confirm password" name="confirmpwd" [(ngModel)]="user.cpassword">
    </mat-form-field>
  </div>
  </div>

  <div class="button">
    <button type="submit" class="submit mx-auto d-block" mat-raised-button color="primary">Submit</button>
  </div>
  </form>
  </mat-card-content>
  </mat-card>
  </div>

