mat-card
{
  width:50% ;
  height: 100%;
}

mat-form-field {
   width: 100%;
}
.submit{
  width: 100%;
  background-color: royalblue;
}
.rm
{
  float: left;
  line-height: 31px;
}
.rm label
{
  font-size: 12px;
  color: #777;
  cursor: pointer;
}