
<div class="container" *ngIf="flag==0">
<mat-card class=" mx-auto d-block text-center">
  <mat-card-title>Forgot Password</mat-card-title>
<mat-card-content>
<form (ngSubmit)="sendOtp()">
<div class="row">
  <div class="col">
  <mat-form-field>
    <input type="email" matInput placeholder="email" name="email" [(ngModel)]="otp.email" required>
  </mat-form-field>
</div>
<div class="col">
  <button mat-raised-button color="primary">Send OTP</button>
</div>
</div>
</form>
</mat-card-content>
</mat-card>
  <mat-card class=" mx-auto d-block text-center">
    <mat-card-title>verify OTP</mat-card-title>
  <mat-card-content>
  <form (ngSubmit)="verifyOtp()">
  <div class="row">
    <div class="col">
    <mat-form-field>
      <input type="number" id="otpenable" matInput placeholder="OTP" name="otp" [(ngModel)]="otp.otp" [readonly]="isreadonly">
    </mat-form-field>
  </div>
  <div class="col">
    <button mat-raised-button color="primary">Verify</button>
  </div>
  </div>
  </form>
  </mat-card-content>
  </mat-card>
  </div>

<div class="container" *ngIf="flag==1">
  <mat-card class=" mx-auto d-block text-center">
    <mat-card-title>Reset Password</mat-card-title>
  <mat-card-content>
  <form (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
    <mat-form-field>
      <input type="password" matInput placeholder="new password" name="password" [(ngModel)]="user.password" required>
    </mat-form-field>
  </div>
  </div>

  <div class="row">
    <div class="col">
    <mat-form-field>
      <input type="password" matInput placeholder="confirm password" name="cpassword" [(ngModel)]="user.cpassword" required>
    </mat-form-field>
  </div>
  </div>

  <div class="button">
    <button type="submit" class="submit mx-auto d-block" mat-raised-button color="primary">Submit</button>
  </div>
  </form>
  </mat-card-content>
  </mat-card>
  </div>


