.footer{
  //background-image: linear-gradient(100deg,  rgb(26, 165, 26)  0%,  rgb(171, 207, 72) );
  width: 100%;
 position: absolute;
 bottom: 0;
  background-color: rgb(26, 165, 26) ;
  padding: 10PX;
  // margin-top: 10PX;
  }
