
<div class="container">
  <div class="row">
  <div class="col-sm text-center">
    <div class="card m-2 mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-info display-4">Elite</h5>
        <p class="card-text text-primary">Benefits</p>
      </div>
      <ul class="list-group list-group-flush ">
        <li class="list-group-item">UNLIMITED ACCESS TO FITNESS AREA</li>
        <li class="list-group-item">FREE WIFI</li>
        <li class="list-group-item">DISCOUNT IN MANUAL THERAPY AND SPORT THERAPY</li>
        <li class="list-group-item">PERSONAL ADVICE: WORKOUTS AND NUTRITIONAL COUNSELING</li>
        <li class="list-group-item">WORKSHOPS AND OTHER FREE AND EXCLUSIVE EVENTS FOR MEMBERS</li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openDialog()">BUY</button>
      </div>
    </div>
  </div>
</div>

</div>
