<p>addba works!</p>

<div class="container">
<mat-card class=" mx-auto d-block text-center">
  <mat-card-title>Add Batch</mat-card-title>
<mat-card-content>
<form (ngSubmit)="onSubmit()">
<div class="row">
  <div class="col">
  <mat-form-field>
    <input type="text" matInput placeholder="BatchName"  name="batchName" [(ngModel)]="batch.batchName">
  </mat-form-field>
</div>
</div>
<div class="row">
    <div class="col">
    <mat-form-field>
      <input type="date" matInput placeholder="startDate" name="startDate" [(ngModel)]="batch.startDate">
    </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <mat-form-field>
      <input type="time" matInput placeholder="startTime" name="startTime" [(ngModel)]="batch.startTime">
    </mat-form-field>
    </div>
  </div>
<div class="row">
  <div class="col">
  <mat-form-field>
    <input type="number" matInput placeholder="batchSize" name="batchSize" [(ngModel)]="batch.batchSize">
  </mat-form-field>
</div>
</div>
<div class="row">
  <div class="col">
  <mat-form-field>
    <input type="number" matInput placeholder="duration" name="duration" [(ngModel)]="batch.duration">
  </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col">
      <mat-form-field appearance="fill" >
          <mat-label>Sport </mat-label>
          <mat-select  name="select" [(ngModel)]="batch.sportId">
            <mat-option *ngFor="let sports of assignedsport" [value]="sports.sportId">{{sports.sportName}}</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
</div>

<div class="button">
  <button type="submit" class="submit mx-auto d-block" mat-raised-button color="primary">Add Batch</button>
</div>
</form>
</mat-card-content>
</mat-card>
</div>

