/* You can add global styles to this file, and also import other style files */

body {
  background-image: url('assets/images/jonathan-petersson-ARU18GpF6QQ-unsplash.jpg');
  background-repeat: no-repeat;

  background-size:cover;
}

